/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* 2. Remove default margin */
* {
    margin: 0;
}

body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
    background-color: black;
    height: 100vh;
    font-family: "Manrope";
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
    font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
    text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

/*
    9. Create a root stacking context
  */
#root,
#__next {
    isolation: isolate;
}

li {
    list-style: none;
}

ul {
    list-style: none;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.deneme {
    position: relative;
    text-align: center;
    width: 540px;
    min-height: 332px;
    border-radius: 25px;
    background-color: #313A48;
    padding: 48px;
}

li h4 {
    color:#53FFAA ;
    font-size: 13px;
    font-weight: 800;
    line-height: 17.76px;
    letter-spacing: 4.085713863372803px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    
}

li h3 {
    color: white;
    font-size: 28px;
    font-weight: 800;
    line-height: 38.25px;
    letter-spacing: -0.30000001192092896px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    padding-block: 10px;
    
}


.randomBtn {
    position:absolute;
    background-color: #53FFAA;
    border: none;
    padding: 20px;
    border-radius: 50%;
    left: 238px;
    bottom: -32px;
    cursor: pointer;
}

.randomBtn:hover {
    background-color: white;
}

.author {
    color:#53FFAA ;
    font-size: 18px;
}

